{% extends "base.html" %}

{% block content %}

<h1>{{ object.name }}
    <a href="{% url 'kitchen:cook-delete' pk=object.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'kitchen:cook-update' pk=object.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
</h1>

<p><strong>Years of Experience:</strong> {{ object.years_of_experience }}</p>
<p><strong>Is Staff:</strong> {{ object.is_staff }}</p>
<p><strong>Username:</strong> {{ object.username }}</p>
<p><strong>First Name:</strong> {{ object.first_name }}</p>
<p><strong>Last Name:</strong> {{ object.last_name }}</p>


<h2>Cooks</h2>

<ul>
    {% for cook in object.cooks.all %}
        <li>{{ cook.username }}</li>
    {% empty %}
        <li>No cooks registered.</li>
    {% endfor %}
</ul>

<a href="{% url 'kitchen:cook-list' %}">
    Back to Cooks List
</a>

{% endblock %}