{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1>
Dishes List
<a href="{% url 'kitchen:dish-create' %}" class="btn btn-primary link-to-page">
    Create
</a>
</h1>

<ul>
    {% for dish in object_list %}
        <li>
            <strong><a href="{% url 'kitchen:dish-detail' dish.id %}">
    {{ dish.name }}
</a></strong><br>
            {{ dish.description }}<br>
            R$ {{ dish.price }}<br>
            Tipo: {{ dish.dish_type }}
        </li>
    {% empty %}
        <li>Nenhum prato cadastrado.</li>
    {% endfor %}
</ul>

<div class="pagination">
    
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; Primeira</a>
    
    <a href="?page={{ page_obj.previous_page_number }}">
        Anterior
    </a>
    {% endif %}
    
    <span>
        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
    </span>
    
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">
        Próxima
    </a>
    
    <a href="?page={{ page_obj.paginator.num_pages }}">
        Última &raquo;
    </a>
    {% endif %}
    
</div>
{% endblock %}